/* Entire website format */
html {
  background-image: linear-gradient(to bottom right, lightblue, yellow);
  font-size: 18px;
}

/* All figure captions should be centered below the figure */
figcaption {
  text-align: center;
}

/* Set up top website grid */
header {
  display: grid;
}

/* Website title at top */
h1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

/* Change size of profile picture */
img#profile-picture {
  height: 250px;
  width: 250px;
}

/* Center profile picture at top of website */
section#profile-pic {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: auto;
}

/* Place text for profile picture under centered profile picture */
section#profile-text {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

/* Set up middle website grid */
main {
  display: grid;
  grid-gap: 0px 25px;
}

/* Place the data collection title on the left */
section#data-collection-title {
  grid-column: 2 / 3;
  margin: auto;
}

/* Change size of data collection picture */
img#data-collection {
  height: 200px;
  width: 300px;
}

/* Place data collection picture on the left */
section#data-collection-pic {
  grid-column: 2 / 3;
}

/* Place the data visualization title in the middle */
section#data-visualization-title {
  grid-column: 5 / 6;
  margin: auto;
}

/* Change size of data visualization picture */
img#data-visualization {
  height: 200px;
  width: 300px;
}

/* Place the data visualization picture in the middle */
section#data-viz-pic {
  grid-column: 5 / 6;
}

/* Place the explained video title on the right */
section#explained-video-title {
  grid-column: 8 / 9;
  margin: auto;
}

/* Change size of explained video thumbnail */
img#explained-video {
  height: 200px;
  width: 300px;
}

/* Place the explained video thumbnail on the right */
section#explained-video {
  grid-column: 8 / 9;
}

/* Place data collection text under data collection picture */
section#data-collection-text {
  grid-column: 1 / 4;
}

/* Place data visualization text under data visualization picture */
section#data-viz-text {
  grid-column: 4 / 7;
}

/* Place explained video text under explained video project */
section#explained-video-text {
  grid-column: 7 / 10;
}
