html {
  font-size: 18px;
  background-image: linear-gradient(to bottom right, lightblue, yellow);
}

header {
  display: grid;
  /* height: 300px; */
}

section#profile-pic {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

section#profile-text {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

main {
  display: grid;
  grid-gap: 0px 35px;
}

section#data-collection-pic {
  grid-column: 2 / 3;
}

section#data-viz-pic {
  grid-column: 5 / 6;
}

section#explained-video {
  grid-column: 8 / 9;
}

section#data-collection-text {
  grid-column: 1 / 4;
}

section#data-viz-text {
  grid-column: 4 / 7;
}

section#explained-video-text {
  grid-column: 7 / 10;
}
